[submodule "external/gnu-efi"]
	path = external/gnu-efi
	url = https://git.code.sf.net/p/gnu-efi/code
[submodule "external/arm64-sysreg-lib"]
	path = external/arm64-sysreg-lib
	url = https://github.com/ashwio/arm64-sysreg-lib.git
