[submodule "external/gnu-efi"]
	path = external/gnu-efi
	url = https://github.com/ncroxon/gnu-efi.git
[submodule "external/arm64-sysreg-lib"]
	path = external/arm64-sysreg-lib
	url = https://github.com/ashwio/arm64-sysreg-lib.git
[submodule "external/dtc"]
	path = external/dtc
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git
